<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">DevConnect</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/friends">Friends</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="/login">Login</a></li>
      <form action="/session?_method=DELETE" method="POST">
        <button type="submit" name="delete" value="Sign out">Logout</button>
      </form>
    </ul>
  </div>
</nav>
