.main-title-profile {
  text-align: center;
  color: black;
}
.center-block {
  max-width: 300px;
  max-height: 300px;

}

.profile-container{
  background-color: white;
}

.profile-content{
  text-align: center;
}
